@model dynamic

@{
    ViewBag.Title = "userAddress";
}


<h2>userAddress</h2>

<table class="table">
    <tr>
        <th>Model Details</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>Address 3</th>
        <th>Pincode</th>
        <th>City</th>
        <th>State</th>
    </tr>
    <tr>
        <th>@Model</th>
        <th>@Model.Address1</th>
        <th>@Model.Address2</th>
        <th>@Model.Address3</th>
        <th>@Model.Pincode</th>
        <th>@Model.City</th>
        <th>@Model.State</th>
    </tr>
</table>